.fotoPerfil {
  width: 10%;
  margin-left: 20px;
}

.imgFotoPerfil {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.crearTweet {
  width: 85%;
}

.crearTweetInput {
  width: 95%;
  height: 80px;
  background-color: black;
  border: none;
  font-size: 1.3rem;
  resize: none;
  outline: none;
  color: white;
  margin-top: 1%;
  border-radius: 0%;
  padding: 0%;
}

.buttonTweetHome {
  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
  background-color: #1b90dd;
  border-color: #1b90dd;
}
.buttonTweetHome:hover {
  height: 40px;
  width: 100px;
  font-weight: 700;
  color: white;
  background-color: #1677b7;
  border-color: #1b90dd;
}

.tweetHome {
  text-decoration: none;
  min-height: 140px;
}

ul {
  list-style: none;
}

.iconosTweet {
  width: 350px;
  justify-content: space-between;
}

.header {
  margin-top: 1%;
  font-size: 1.3rem;
  font-family: Helvetica;
}

.iconos-azules {
  height: 45px;
}
.texto-tweet {
  margin-top: -7%;
}
.middle-home {
  border-left: 0.5px solid rgb(80, 80, 80);
  border-right: 0.5px solid rgb(80, 80, 80);
  height: 100%;
}
