.middleprofile {
  /* background-color: rgb(75, 75, 75); */
  padding-top: 5px;
  font-family: Arial;
  padding-left: 0%;
  padding-right: 0%;
  border-left: 0.5px solid rgb(80, 80, 80);
  border-right: 0.5px solid rgb(80, 80, 80);
  height: 110vmax;
}

.header {
  height: 6%;
}

.arrowicon {
  border: black;
}

.avatar-profile {
  height: 10rem;
  width: 10rem;
  background-color: black;
  padding: 0.6%;
  margin-top: 20%;
}

.texto-gris {
  color: rgb(130, 130, 130);
}
.usuario-profile {
  margin-top: -2%;
  margin-bottom: 4%;
}
.btn-black {
  border-color: rgba(255, 255, 255, 0.537);
  width: 25%;
  font-weight: bold;
  font-size: 100%;
  margin-top: -40%;
  margin-left: 74%;
}

.btn-black:hover {
  background-color: rgba(129, 129, 129, 0.165);
  border-color: rgba(255, 255, 255, 0.537);
}
.sections {
  justify-content: space-evenly;
}

hr {
  color: gray;
  width: 104%;
  margin-left: -2%;
}
.avatar-icon {
  height: 3rem;
  width: 3rem;
}

.tweet {
  margin-top: -4%;
  margin-left: 13%;
  max-width: 90%;
}

.botones {
  justify-content: space-evenly;
}

a {
  color: white;
  text-decoration: none;
}
.edit-profile-button {
  margin-top: -180px;
}

.botones-grises {
  margin-top: -3%;
}
